# Ignore OS files and folders
/.Trash*/

# Generic ignores
*.log
*.log.*
*.db
*.db-shm
*.db-wal
*.pyc
*.orig
._*
__pycache__
/tmp

# Directory (contents) ignores
/*.conf
/backups
/deps
/.storage
/tts
/.vscode

# Specific file ignores
/.uuid
/.HA_VERSION
/ip_bans.yaml
/known_devices.yaml
/secrets.yaml
/google_service_account.json
/solax_data.json
/Solax_data.json

# Custom components (keeping customisations)
/custom_components/

# Ignore community lovelace extensions and snapshot images
/www/community/
/www/images/snapshots/

# Specific keeps
!.gitkeep

# Ignore old config_packages
/config_packages/
