# Ignore OS files and folders
/.Trash*/

# Generic ignores
*.log
*.log.*
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__
/tmp

# Directory (contents) ignores
/*.conf
/deps
/.storage
/tts
/.vscode

# Specific file ignores
/.uuid
/.HA_VERSION
/ip_bans.yaml
/known_devices.yaml
/secrets.yaml
/google_service_account.json
/solax_data.json

# Custom components (keeping manifests and customisations)
/custom_components/*/*
!/custom_components/*/manifest.json

# Ignore snapshot images
/www/images/snapshots

# Specific keeps
!.gitkeep
